<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="style/base.css" type="text/css" />
</head>
<body>
    <div class="container">
        <div class="row">
            <p class="lead" style="margin-top: 1em; margin-bottom: 2em;">
                <b>CHU N&icirc;mes Galaxy</b> is a web-based platform for data intensive medical research, based on the
                <b>Galaxy</b> project.
                If you are new to Galaxy <a href="http://usegalaxy.org/galaxy101" target="_blank">start here</a>
                or consult our <a id="toggleHelp">help resources</a>.
            </p>
        </div>
        <br/>
        <img src="images/logo_CHUNimes.png" alt="CHU N&icirc;mes" style="display: block; margin-left: auto; margin-right: auto;" />
        <hr/>
        <a target="_blank" class="reference" href="http://www.chu-nimes.fr/">CHU N&icirc;mes</a> <a target="_blank" class="reference" href="http://galaxyproject.org/">Galaxy</a> is a web-based platform for data intensive medical research.  The <a target="_blank" class="reference" href="http://escience.ime.usp.br/MIG/">Medical Imaging Group team</a> is a part of the <a target="_blank" class="reference" href="http://escience.ime.usp.br/">e-Science Group</a> in the department of <a target="_blank" class="reference" href="https://www.ime.usp.br/dcc">Computer Science</a> at <a target="_blank" class="reference" href="https://www.ime.usp.br/">IME</a> - <a target="_blank" class="reference" href="http://www.usp.br">University of Sao Paulo</a>.</p>

    </div>
</body>
</html>
